{% extends "base.html"%}
{% load static %}

{% block title %} 
    Blog
{% endblock %}

{% block css_file %}
    <link rel ="stylesheet" href="{% static "blog/post.css" %}">
    <link rel ="stylesheet" href="{% static "blog/pos.css" %}">

{% endblock %}


{% block content %}
       <!-- Adding three sections Greeting,About posts and More details-->
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/.jpg' %}" alt="Blog-author">
            <h2> HEMA'S BLOG</h2>
        </header>
        <p>Hi, Welcome to my page. Let's share our experiences together</p>
    </section>
    <section id="latest-posts">
        <h2> My Latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}   
            {% endfor %}  
        </ul>
    </section>
    <section id="about">
        <h2>What I Do</h2> 
        <p> I Love Programming, I like to code and build projects, I fell excited to learn about new techniques in programming</p>
        <p>Let's code together</p>
    </section>
{% endblock %}